<h1>Editar Emigración por Países</h1>
        Buscar: 
        
        <label>Emigrantes Totales mínimos:<input type= "number" class="form-control text-center" ng-model="emiMin"/></label>
        <label>Emigrantes Totales máximos:<input type= "number" class="form-control text-center" ng-model="emiMax"/></label>
        <button class="btn btn-primary" ng-click="sendGet(emiMin, emiMax)">Buscar</button>
        <button class="btn btn-warning" ng-click="limpiar()">Borrar búsqueda</button>
            <table class="table">
                <thead>
                    <tr>
                        <th>País</th>
                        <th>Año</th>
                        <th>Hombres</th>
                        <th>Mujeres</th>
                        <th>Total Emigrantes</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{updateCountry.country}}</td>
                        <td>{{updateCountry.year}}</td>
                        <td>
                            <input type="number" class="form-control" ng-model=updateCountry.emigrantman value="Hombres"/>
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model=updateCountry.emigrantwoman value="Mujeres"/>
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model=updateCountry.totalemigrant value="Total Emigrantes"/>
                        </td>
                        <td>
                            <button 
                            class="btn btn-primary" ng-click="updateCountry()">
                                Modificar</button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            <hr/>
            <h8><i>{{status}}</i></h8>
            <hr/>