<h1>What does Donald Trump think?</h1>

         <button class="btn btn-primary" ng-click="getDonaldTrump()">Discover it here</button>
 
 
 
          <div class="col-xs-5" style="width": 50%;float:left;>
                    <textarea class="form-control" rows="2" ng-model="dataResponse"></textarea>
                </div>
                
                  <div class="container-fluid">
          Or let him tell you something: 
        
         <form >
              <label>Your name:<input class="form-control text-center" id="name" ng-model="name"/></label>
               <button class="btn btn-secondary" ng-click="getDTPerso(name)">Click here!</button>
               </form>
               
               
               <div class="col-xs-5" style="width": 50%;float:left;>
                    <textarea class="form-control" rows="2" ng-model="dResponse"></textarea>
                </div>