

        <h1>Editar un dato</h1>
             
        <table class="table">
           <thead>
                <tr>
                    <th>
                        Pais
                    </th>
                    <th>
                        Año
                    </th>
                    <th>
                       Gastos del país
                    </th>
                    <th>
                       Porcentaje de presupuesto
                    </th>
                    <th>
                        Gasto per Capita
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>

           <tbody>
                <tr>
                    <td>{{ updateExpense.country }}</td>
                    <td>{{ updateExpense.year }}</td>
                    <td>
                <input 
                    class="form-control" 
                    ng-model="updateExpense.countryExpense"
                />
            <td>
                <td>
                <input 
                    class="form-control" 
                    ng-model="updateExpense.budgetPercentage"
                />
            <td>
                <td>
                <input 
                    class="form-control" 
                    ng-model="updateExpense.expensePerCapita"
                />
            <td>
                   
                    <td><button type="button" class="btn btn-primary" ng-click="sendPut(updateExpense.country, updateExpense.year, updateExpense.countryExpense, updateExpense.budgetPercentage, updateExpense.expensePerCapita)">Editar</button></td>
            </tbody>
        </table>
         <div class="col-xs-5" style="width": 50%;float:left;>
                    <label class="input-lg" for="dataResponse">Respuesta:</label>
                    <textarea class="form-control" rows="2" ng-model="dataResponse"></textarea>
                </div>
        
        
       
  
        
         